@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

.fade-in {
  opacity: 0;
  animation-name: fade-in;
  animation-duration: 250ms;
  animation-delay: 0ms;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
}
